{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" with active_tab='profile' %}
    <div class="row">
        <div class="small-12 columns">
            <a name="profile"></a>

            <h1>Manage Profile</h1>

            <p>Hello {{ user.get_full_name|default:user.username }}!</p>

            {% if not user.granted_access %}
                <div class="alert-box alert">You are not currently set up for access and will not be able to connect to
                    the
                    server. Please be patient while you are set up.
                </div>
            {% endif %}

            {% if user.suspended_until != None %}
                <div class="alert-box warning">You have been suspended until {{ user.suspended_until }}. Reason: {{ user.suspended_reason }}</div>
            {% endif %}

            <p>If it was written yet there would be a form here!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos dolorem doloribus ducimus eos
                fugiat, illo iure minus nihil nulla sed totam? Beatae debitis inventore natus nulla, pariatur
                repellendus tempora.</p>

            <p>A alias, assumenda, dolorem eius, eum explicabo harum illo impedit magni nam rerum sint totam! Amet
                aspernatur atque blanditiis consequatur deleniti dolorem, molestias nesciunt obcaecati placeat
                veritatis! Inventore, omnis, sit.</p>
        </div>
    </div>
{% endblock %}
