{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" with active_tab='profile' %}
    <div class="row">
        <div class="small-12 columns">
            <a name="profile"></a>

            <h1>Manage Profile</h1>

            <p>Hello {{ user.get_full_name|default:user.username }}!</p>

            <div class="panel">
                <h3>Please note the following alerts</h3>
                {% if not user.granted_access %}
                    <div class="alert-box alert">You are not currently set up for access and will not be able to connect
                        to the server. Please be patient while you are set up.
                    </div>
                {% endif %}

                {% if user.suspended_until != None %}
                    <div class="alert-box warning">You have been suspended until {{ user.suspended_until }}.
                        Reason: {{ user.suspended_reason }}</div>
                {% endif %}

                {% if user.can_invite_new_users %}
                    <div class="alert-box success">You can <a href="#">invite</a> new users.</div>
                {% endif %}

                {% if user.reddit_username == '' %}
                    <div class="alert-box info">Please enter your Reddit username to gain access to the official <a href="http://reddit.com/r/720miners">subreddit</a>.</div>
                {% endif %}
            </div>

            <h3>Change your profile</h3>

            <form action="/profile/" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>First Name
                            <input type="text" name="{{ form.first_name.html_name }}" value="{{ user.first_name }}">
                        </label>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>Last Name
                            <input type="text" name="{{ form.last_name.html_name }}" value="{{ user.last_name }}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Email Address
                            <input type="email" name="{{ form.email.html_name }}" value="{{ user.email }}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Minecraft Username
                            <input type="text" name="{{ form.minecraft_username.html_name }}" value="{{ user.minecraft_username }}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Referred by (Minecraft Username)
                            <input type="text" name="{{ form.referred_by.html_name }}" value="{{ user.referred_by }}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Reddit Username
                            <input type="text" name="{{ form.reddit_username.html_name }}" value="{{ user.reddit_username }}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <button class="button" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
