{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" with active_tab='manage' %}
    <div class="row">
        <div class="small-12 columns">
            <h1>Detail for {{ user.username }} ({{ user.minecraft_username }})</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            {% include 'messages.html' %}
            <form id="manage-user-form">
                <div class="row">
                    <div class="small-12 columns">
                        <label>Username
                            <input type="text" value="{{ user.username }}" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <label>First Name
                            <input type="text" value="{{ user.first_name }}" disabled>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>Last Name
                            <input type="text" value="{{ user.last_name }}" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">
                            <label>Minecraft Username</label>

                            <div class="small-10 columns">
                                <input type="text" value="{{ user.minecraft_username }}" disabled>
                            </div>
                            <div class="small-2 columns">
                                {% if not user.granted_access %}
                                    <a href="{% url 'grant-access' user.username %}" class="button postfix">Grant Access</a>
                                {% else %}
                                {% comment %}
                                TODO: Put a popup letting the mod know this is permanent
                                {% endcomment %}
                                    <a href="{% url 'revoke-access' user.username %}" class="button postfix">Revoke Access</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Referred By
                            <input type="text" value="{{ user.referred_by }}" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">

                            <label>Suspended Until</label>

                            <div class="small-10 columns">
                                <input type="text" value="{% if user.suspended_until %}{{ user.suspended_until }}{% else %}Not Suspended{% endif %}" disabled>
                            </div>
                            <div class="small-2 columns">
                                {% if not user.suspended_until %}
                                    <a href="{% url 'suspend-user' user.username %}" class="button postfix">Suspend</a>
                                {% else %}
                                    <a href="{% url 'unsuspend-user' user.username %}" class="button postfix">Unsuspend</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Suspension Reason
                            <input type="text" value="{% if user.suspended_until %}{{ user.suspended_reason }}{% else %}Not Suspended{% endif %}" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Reddit Username
                            <input type="text" value="{{ user.reddit_username }}" disabled>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}